<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.DetectAuthDao">
    
  <select id="findDetectAuthByIdAndTime" resultType="DetectAuth"> 
	    select *  from  detectAuth  where user_idcard= #{userIdcard} 
	    and create_time>=STR_TO_DATE(#{time},'%Y%m%d %H')  
    </select> 
	  
	<insert id="insertDA">
	INSERT INTO detectAuth (bizToken, url, create_time, request_id, user_idcard) 
	VALUES (#{bizToken}, #{url}, #{create_time}, #{request_id}, #{user_idcard});
	</insert> 
	
	<select id="findUserId" resultType="String" > 
	   select id from users where 
	   user_idcard = (select user_idcard from detectAuth where bizToken=#{bizToken}) and is_delete='0'
    </select> 
    
    <select id="findDetectAuthByTime" resultType="DetectAuth"> 
	    select *  from  detectAuth  where  create_time<![CDATA[ >= ]]>#{beforeTime} and create_time <![CDATA[ < ]]>#{endTime}
    </select> 
</mapper>