<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.RandomCheckDao">

	 <!--  <resultMap id="randomCheck" type="RandomCheck">
        <result property="id" column="id"/>
        <result property="video_id" column="video_id"/>
        <result property="user_id" column="user_id"/>
        <result property="status" column="status"/>
        <result property="add_time" column="add_time"/>
        <result property="is_delete" column="is_delete"/>
        <association property="user" column="user_id" 
        javaType="User" select="getUserById" />
         <association property="videoIdent" column="video_id" 
        javaType="VideoIdent" select="getVideoIdentById" />
    </resultMap>
	
	<select id="getUserById"  resultType="User">
        SELECT * FROM users WHERE id = #{id} 
    </select>
    
    <select id="getVideoIdentById" resultType="VideoIdent">
        SELECT * FROM video_ident WHERE id = #{id} 
    </select>
    
	<select id="findRandomCheckByStatus" resultMap="randomCheck"> 
		   
	select r.* from random_check r  where r.is_delete=0 
		<if test="status != null ">  
          and  status = #{status},  
        </if> 
	</select>
	
	 <select id="findRandomCheckByStatus" resultMap="RandomCheck"> 
		   
	select r.* from random_check r  where r.is_delete=0 
		<if test="status != null ">  
          and  status = #{status},  
        </if> 
	</select>
	  -->
	  
	   <select id="findRandomCheckByStatus" resultType="RandomCheck"> 
		   
	select r.* ,u.user_name as user_name ,u.user_idcard as user_idcard,v.img_url as img_url , v.add_time as vadd_time ,v.year as year  from random_check r 
	   LEFT JOIN users u on u.id=r.user_id
	   LEFT JOIN video_ident  v on v.id=r.video_id
	 where r.is_delete=0   and v.is_delete=0 and u.is_delete=0
		<if test="status != null and  status !='' ">  
       and r.status= #{status}   
        </if> 
	</select>
	
	   <select id="findRandomCheckByVideoStatusAndStatus" resultType="RandomCheck"> 
		   
	select r.* ,u.user_name as user_name ,u.user_idcard as user_idcard,v.img_url as img_url , v.add_time as vadd_time ,v.year as year  from random_check r 
	   LEFT JOIN users u on u.id=r.user_id
	   LEFT JOIN video_ident  v on v.id=r.video_id
	 where r.is_delete=0   and v.is_delete=0 and u.is_delete=0
		<if test="video_status != null and  video_status !='' ">  
        and v.video_status= #{video_status}   
        </if> 
        <if test="status != null and  status !='' ">  
       and r.status= #{status}   
        </if>
	</select>
	
	
	<!--  <select id="creatRandomCheckByNumber" resultType="RandomCheck">  
        
      SELECT id as video_id, user_id    FROM video_ident AS t1
     JOIN (
          SELECT ROUND(RAND() *((SELECT MAX(id) FROM video_ident where is_delete=0 )-(SELECT MIN(id) FROM video_ident is_delete=0))+(SELECT MIN(id) FROM video_identis_delete=0)) AS id
      ) AS t2 
     WHERE t1.id >= t2.id 
    ORDER BY t1.add_time desc
     <if test="number!=-1">  
       LIMIT number;
     </if>
     
	</select> -->
	
	 
    
    	<insert id="insertRandomCheckBatch"  useGeneratedKeys="true" >
        insert into  random_check (video_id, user_id, add_time) values 
         <foreach collection="list" item="rc" separator=",">   
                (#{rc.video_id},#{rn.user_id},createTime)  
         </foreach>
    </insert>
	
	
	<insert id="creatRandomCheckByNumberAndYear"  useGeneratedKeys="true" >
        insert into  random_check (video_id, user_id )  
        select id,user_id from video_ident	WHERE		is_delete = 0  
         And  NOT EXISTS (select id from video_ident WHERE	is_delete = 0 ) 
    
	     <if test="year != null and  year !=''">  
	      and year=#{year}
	     </if>
	     order by rand()  
	     <if test="number!=-1">  
	       LIMIT #{number};
	     </if>
    </insert>
    
    <select id="findRandomCheckById" resultType="RandomCheck"> 
		   
	select r.* ,u.user_name as user_name ,u.user_idcard as user_idcard,v.img_url as img_url , v.add_time as vadd_time ,v.year as year  from random_check r 
	   LEFT JOIN users u on u.id=r.user_id
	   LEFT JOIN video_ident  v on v.id=r.video_id
	 where r.is_delete=0   and v.is_delete=0 and u.is_delete=0 and r.id= #{id}   
      
	</select>
    
    
    <update id="updateRandomCheckStatus" parameterType="RandomCheck">
		update random_check set status=#{status} where id=#{id} 
	</update>
	
</mapper>