<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.TempUserDao">
 
	 
	 
    <select id="findAllTempUser" resultType="TempUser">
		select m.* from temp_users m where m.is_delete=0 order by m.add_time  desc
	 </select>
	 
	  <select id="findAllTempUserByKey" resultType="TempUser">
		select m.* from temp_users m where m.is_delete=0 
		
		 <if test="key!=null  and key!=''">   
          and (m.user_name like '%${key}%' or m.user_idcard like '%${key}%' )
        </if> 
        
		order by m.add_time  desc
	 	 
	 </select>
	 
	 
	 
	 <select id="findAllTempUserByMultiCondition" parameterType="java.util.HashMap"  resultType="TempUser">
		select m.* from temp_users m where m.is_delete=0 
		
		<if test="key!=null  and key!=''">   
          and (m.user_name like '%#{key}%' or m.user_idcard like '%#{key}%' )
        </if> 
        
         <if test="dataType!=null  and dataType!=''">   
          and m.data_type=#{dataType}
        </if> 
        
         <if test="data_type!=null  and data_type!=''">   
          and m.data_type=#{data_type}
        </if> 
        
        
         <if test="user_township!=null  and user_township!=''">   
          and m.user_township=#{user_township}
        </if> 
         <if test="status!=null  and status!=''">   
          and m.status=#{status}
        </if> 
		 
		order by m.add_time  desc
	 
	 
	 </select>
	 
	 
	<select id="findTempUserByUserIdcard" resultType="TempUser">
		select * from temp_users  where  user_idcard=#{0} and   is_delete=0;
	 </select>
	 <select id="findTempUserById" resultType="TempUser">
	     select m.* from temp_users m   where m.id=#{0} and m.is_delete=0 
	 </select>
	 
  
 
	  
	 
	 <update id="updateTempUser" parameterType="TempUser">
		update temp_users  
		<set>  
         user_name=#{user_name},user_idcard=#{user_idcard}, user_township=#{user_township},user_village=#{user_village},data_type=#{data_type},
         mobile=#{mobile},status=#{status},status_reason=#{status_reason},thumb_path=#{thumb_path},original_path=#{original_path},audit_time=#{audit_time},is_delete=#{is_delete}
       </set> 
       where id=#{id}
	</update>
	
	 

	<insert id="insertTempUser" parameterType="TempUser">
		insert into temp_users (user_name, user_idcard, user_township,user_village,data_type,mobile,status,status_reason,thumb_path,original_path,add_time,audit_time) 
		        values(#{user_name},#{user_idcard},#{user_township},#{user_village},#{data_type}, #{mobile}, #{status}, #{status_reason},#{thumb_path},#{original_path},#{add_time},#{audit_time})
	</insert>
	
	  <delete id="deleteTempUserBatch" parameterType="int">
        update temp_users set is_delete=1  where id  in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
	 
</mapper>